@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: #cbcbcb;
    --color-secundario: #f4f4f4;
    --color-titulos: #3170a0;
    --color-textos: #81eadd;
    --color-animaciones: #fc8f8f;
    --color-animaciones-hover: #ff0000;
    --color-sombra-oscura: #100f0f;
}

body {
    width: 100%;
    height: 600px;
    font-family: Lato, sans-serif, serif;
    background-color: var(--color-secundario);
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header"
        "nav nav"
        "transformaciones animacionesCSS"
        "animacionesCanvas animacionesSVG"
        "footer footer";
}

header {
    grid-area: header;
    background-color: var(--color-primario);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
    color: var(--color-titulos);
    margin: 10px 5px;
    text-shadow: var(--color-sombra-oscura) 2px 1px 2px;
}

header div.autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header div.autor img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: 10px 0;
}

header p>img {
    width: 20em;
    border-radius: 10px;
}

header p>img:hover {
    transform: scale(1.1);
    animation: rotar 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    cursor: pointer;
}

@keyframes rotar {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(-180deg);
    }
}

nav {
    grid-area: nav;
    background-color: var(--color-titulos);
    height: 5em;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 1.2em;
    display: flex;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    margin: 0 10px;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: var(--color-primario);

}

nav ul li a {
    color: var(--color-titulos);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: color 0.3s, font-size 0.1s;
}

nav ul li a img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

nav ul li a:active {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-animaciones-hover);
    transition: color 1s, font-size 1s;
}

nav ul li a:active img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

nav img {
    width: 50px;
    height: 50px;
    margin: 0;
}

/*Ejercicio 2.2 Transiciones y transformaciones*/

#transformaciones {
    grid-area: transformaciones;
    background-color: var(--color-animaciones);
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#transformaciones img {
    width: 3em;
    height: 3em;
}

#transformaciones>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 15px;
    padding: 10px;
    background-color: yellow;
    height: 40%;
    width: 300px;
    border-radius: 10px;
}

#transformaciones>div.izquierda img {
    width: 35px;
    height: 35px;
}

#transformaciones>div.derecha img {
    width: 35px;
    height: 35px;
}

#transformaciones div.izquierda div.imagen {
    background-color: blueviolet;
    width: 60px;
    margin-left: 100px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#transformaciones div.derecha div.imagen {
    background-color: blueviolet;
    width: 60px;
    margin-right: 80px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#transformaciones a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#transformaciones div.izquierda {
    transform: translateX(-60%);
}

#transformaciones div.izquierda:hover {
    animation: desplazarDerecha 1s linear forwards,
        aumentarTamanoFuente 1s linear forwards,
        cambiarColorFuente 1s ease-in-out forwards;
}

#transformaciones div.izquierda:hover div.imagen {
    background-color: var(--color-animaciones-hover);
}

#transformaciones div.izquierda:hover img {
    animation: girarDerecha 1s linear forwards;
}

#transformaciones div.izquierda:not(:hover) {
    animation: desplazarIzquierda 1s linear forwards,
        disminuirTamanoFuente 1s linear forwards;
}

#transformaciones div.izquierda:hover a {
    color: var(--color-animaciones-hover);
}

#transformaciones div.derecha {
    transform: translateX(60);
}

#transformaciones div.derecha:hover img {
    animation: girarIzquierda 1s linear forwards;
}

#transformaciones div.derecha:hover div.imagen {
    background-color: var(--color-animaciones-hover);
}

#transformaciones div.derecha:hover {
    animation: desplazarIzquierdaFiguraDerecha 1s linear forwards,
        aumentarTamanoFuente 1s linear forwards;
}

#transformaciones div.derecha:not(:hover) {
    animation: desplazarDerechaFiguraDerecha 1s linear forwards,
        disminuirTamanoFuente 1s linear forwards;
}

#transformaciones div.derecha:hover a {
    color: var(--color-animaciones-hover);
}

@keyframes desplazarIzquierda {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-60%);
    }
}

@keyframes desplazarDerecha {
    from {
        transform: translateX(-60%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes desplazarIzquierdaFiguraDerecha {
    from {
        transform: translateX(60%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes desplazarDerechaFiguraDerecha {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(60%);
    }
}

@keyframes girarDerecha {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes girarIzquierda {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes aumentarTamanoFuente {
    from {
        font-size: 0.8em;
    }

    to {
        font-size: 2em;
    }
}

@keyframes disminuirTamanoFuente {
    from {
        font-size: 2em;
    }

    to {
        font-size: 0.8em;
    }
}

/*Ejercicio 3 Animaciones CSS*/

#animacionesCSS {
    grid-area: animacionesCSS;
    background-color: var(--color-textos);
    height: 50px;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


#animacionesCanvas {
    grid-area: animacionesCanvas;
}

#animacionesSVG {
    grid-area: animacionesSVG;
}

footer {
    grid-area: footer;
}